/* Eric Meyer's CSS Reset */

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
    display: block;
}
body {
    line-height: 1;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}
/* End of Eric Meyer's CSS Reset */

html {
    height: 100%;
}
article, aside, details, figcaption, figure, footer, header, hgroup, main, nav, section, summary {
    display: block;
}
body {
    font: 12px/18px Arial, sans-serif;
    width: 100%;
    height: 100%;
}
.wrapper {
    width: 1000px;
    margin: 0 auto;
    min-height: 100%;
    height: auto !important;
    height: 100%;
}


/* Header
-----------------------------------------------------------------------------*/
.header {
    height: 50px;
    background: #8ebff0;
}

ul.cssmenu {
    padding: 0;
    margin: 0;
    list-style: none;
    padding-top: 10px;
}


ul.cssmenu li {
    float: left;
    width: 150px;

    text-align: center;

}


ul.cssmenu li a, ul.cssmenu li a:visited {
    display: block;
    padding: 5px;
    margin-right: 1px;
    color: #FAFAD2;
    background-color: #f08e8e;
}

ul.cssmenu a:hover {
    color: #4682B4;
    background-color: #FAFAD2;
}




      /* Middle
      -----------------------------------------------------------------------------*/
  .content {
      padding: 0 0 100px;
  }

.kabinet{
    height: 380px;
}

.add-magaz{
    right: 290px;
    position: absolute;
    margin-top: -225px;
}

.edit-prof{
    right: 290px;
    position: absolute;
    margin-top: -205px;
}


.news img, .beer-info img{
    float: left;
    padding: 15px;
}

.beer-info, .beer-list{
    clear: both;
}

/* Footer
-----------------------------------------------------------------------------*/
.footer {
    width: 1000px;
    margin: -100px auto 0;
    height: 100px;
    background: #8ebff0;
    position: relative;
}